/* FEATURES */
.home-features {
  padding-top: 110px;
  @include media-breakpoint-up(xl){
    padding-top: 166px;
  }
  p {
    margin: 0;
    font-family: $font-family-montserrat;
    color: $secondary;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 2.96;
    letter-spacing: 1.2px;
    @include media-breakpoint-up(md){
      font-size: 14px;
      line-height: 2.54;
      letter-spacing: 2.8px;
    }
  }
}
