@import "bootstrap-grid";
@import "layout";
@import "sidebar";
@import "header";
@import "features";
@import "footer";


:root {
  --body-bg: #292c39;
  --tomato: #e44026;
  --white: #ffffff;
}

body {
  background-color: #292c39;
  margin: 0;
}







.footer-nav {
  display: flex;
}
